<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- reference CSS file -->
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <title>SpringBoot using Reactive Demo</title>
</head>
<body>
    <p class="timelabel" th:text="'Time on the server is ' + ${theDate}"></p>
    <p th:text="${msg}"></p>
</body>
</html>